body{
    text-align: center;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

#gameCanvas {
    background: #fff;
    display: block;
    margin: 20px auto;
    border: 1px solid #000;
}

#score {
    font-size: 20px;
    margin-top: 10px;
}

#gameOver {
    color: red;
    font-size: 24px;
    display: none;
}